@import url('https://fonts.googleapis.com/css?family=Poppins: 100, 200, 300, 400, 500, 600, 700')

.nav{
  box-sizing: border box
  margin: 0;
  padding: 0;
  background-color: transparent ;
}

li, a { 
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

head{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.nav{
  list-style: none;
}

.nav li{
  display: inline-block;
  padding: 0px 20px;
}
.nav li a:hover{
  background-color: seagreen;
}

body{
  background-image: url(./image/Feature_page_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
td {
  padding: 4px;
}

img{
  height: 200px;
  width: 250px;
  box-shadow: 3px 4px #2b2b2b;
  border-radius: 20px;
}
table{
  position: absolute;
  top:6%;
  left:50%;
  transform: translateX(-50%);
}
p{
  text-align: center;
  font-size: 20px;
  color: floralwhite;
  font-family: 'Poppins', sans-serif;
  }